@import "../../sass/variables.scss";

#about {
  .about-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 80px;

    .text-about-container {
     padding-right: 128px;
      line-height: 1.4;
    }

    .icons-about-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 58px;

      .icon-about-wrapper {
        display: flex;
        gap: 8px;
        align-items: center;

        .icon-about {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 70px;
          height: 70px;
          background-color: map-get($colors, btn);
          border-radius: 100px;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.534);

          img {
            width: 28px;
          }
        }
      }

      .icon-about-text {
        p {
          font-size: map-get($font-size, sm);
        }
      }
    }

    .img-about-container {
      width: 400px;

      .img-about-section {
        width: 100%;
        height: 380px;
        object-fit: cover;
        border-radius: 2px;
      }
    }
  }
  
}
