@import "../../sass/variables.scss";

button {
  width: 228px;
  padding: 16px;
  border: none;
  border-radius: 28px;
  box-shadow: 0 0 2px rgba(47, 47, 47, 0.775);
  font-size: map-get($font-size, md);
  font-family: map-get($font-family, body);
  font-weight: 500;
  color: map-get($colors, secondary);
  cursor: pointer;


}

