@import "../../sass/variables.scss";

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 78px;
  background-color: map-get($colors, bg-nav);
  position: fixed;
  width: 100%;
  a,
  li {
    color: map-get($colors, primary);
  }

  .nav-logo {
    font-family: map-get($font-family, logo);
    font-size: map-get($font-size, md);
    img {
      width: 154px;
    }
  }

  .menu-icon {
    display: none;
  }

  .nav-menu {
    display: flex;
    gap: 130px;
    align-items: center;
    justify-content: center;
    font-family: map-get($font-family, nav-links);
    font-size: map-get($font-size, sm);
    z-index: 30;

    .nav-item {
      position: relative;

      a {
        transition: color 0.2s ease-in;

        &:hover {
          color: map-get($colors, hover-links-nav);
        }

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1.3px;
          background-color: map-get($colors, links-nav-bars);
          bottom: -5px;
          border-radius: 3px;
          left: 0;
          transform: scaleX(0);
          transition: transform 0.3s ease-in-out;
        }

        &.active::after {
          transform-origin: bottom left;
          transform: scaleX(1);
        }

        a.active {
          border-bottom: 3px solid black;
        }
      }
    }
  }
}

//MOBILE MENU
@media screen and (max-width: 960px) {
  .nav-container {
    justify-content: space-between;
    padding: 0 90px 0 60px;

    .menu-icon {
      display: block;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.809);
      z-index: 30;
    }

    .nav-logo {
      z-index: 30;
    }

    .nav-menu {
      display: flex;
      gap: 100px;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: -100%;
      transition: left 0.4s ease;
      z-index: 20;

      &.active {
        left: 0;
        opacity: 1;
        //z-index: 20;
        background-color: map-get($colors, bg-nav);
        a.active {
          color: map-get($colors, hover-links-nav);

          &::after {
            display: none;
          }
        }
      }
    }
  }
}
