@import "../../sass/variables.scss";

#carousel-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: map-get($colors, bg2-section);

  .title-carousel {
    .title-section {
      text-align: center;
    }
  }

  .carousel-section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;

    .carousel-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 400px;
      margin-top: 20px;
      position: relative;
      overflow: hidden;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      .carousel-wrapper {
        display: flex;
        width: 100%;
        height: 400px;
        align-items: center;
        transition: transform 0.5s ease-in-out;
        gap: 18px;

        .carousel-card {
          min-width: 222px;
          max-width: 252px;
          height: 350px;
          margin: 18px 4px;
          position: relative;
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.266);
          transition: opacity 0.5s ease;
          border-radius: 10px;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 5px;
          padding: 20px;
          background-color: map-get($colors, bg3-section);

          #customer-img {
            margin: 38px 0 10px 0;
            object-fit: cover;
            width: 80px;
            height: 80px;
            border-radius: 50px;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.76);
          }

          .star-icon-wrapper {
            margin-top: 12px;

            #star-icon {
              width: 28px;
            }
          }

          h3 {
            font-family: map-get($font-family, nav-links);
            font-weight: 700;
            font-size: map-get($font-size, md);
          }

          p {
            font-size: map-get($font-size, sm);
            font-family: map-get($font-family, body);
            font-weight: 300;
            text-align: center;
            height: 48px;
          }
        }
      }
    }
    .carousel-btn {
      width: 100px;
      border: none;
      box-shadow: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(50%);
      padding: 0;
      transition: opacity 1s ease-in;
      cursor: pointer;
    }

    #prev-btn {
      img {
        width: 38px;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    #next-btn {
      img {
        width: 38px;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .title-carousel {
    .title-section {
      font-size: map-get($font-size, xl);
      text-align: center;
    }
  }
}

@media (max-width: 480px) {
  #carousel-section {
    padding: 108px 18px 108px 18px;

    .title-carousel {
      .title-section {
        font-size: map-get($font-size, lg);
        padding: 0 10px;
      }
    }
  }
}

@media (max-width: 340px) {
  #carousel-section {
    padding: 118px 8px 118px 8px;

    .title-carousel {
      .title-section {
        font-size: map-get($font-size, md);
        padding: 0 10px;
      }
    }
  }
}


@media (min-width: 2560px) {


  #carousel-section {
  
    .title-carousel {
      .title-section {
       font-size: map-get($font-size, hero);
      }
    }
  
    .carousel-section-wrapper {
      width: 100%;
 
      .carousel-container {
        width: 100%;
        height: 580px;

        .carousel-wrapper {
          width: 100%;
          height: 490px;
          gap: 18px;
  
          .carousel-card {
min-width: 400px;
max-width: 450px;
            height: 480px;
            margin: 18px 4px;
          
  
            #customer-img {
              margin: 38px 0 10px 0;
              object-fit: cover;
              width: 150px;
              height: 150px;
              border-radius: 100px;
              box-shadow: 0 0 3px rgba(0, 0, 0, 0.76);
            }
  
            .star-icon-wrapper {
              margin-top: 12px;
  
              #star-icon {
                width: 38px;
              }
            }
  
            h3 {
              font-size: map-get($font-size, xl);
            }
  
            p {
              font-size: map-get($font-size, md);
              height: 58px;
              padding: 0 48px;
            }
          }
        }
      }
      .carousel-btn {
        transform: translateY(26%);
      }
  
      #prev-btn {
        img {
          width: 68px;
  
          &:hover {
            transform: scale(1.2);
          }
        }
      }
  
      #next-btn {
        img {
          width: 68px;
  
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }

}