@import "../../sass/variables.scss";

#footer {
  background-color: map-get($colors, bg1-section);
  padding: 38px 0 28px 0;

  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    gap: 58px;

    .social-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 8px;
      .social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 18px;

        .social-item {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: white;
          width: 48px;
          height: 48px;
          border-radius: 50px;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.371);
          transition: transform .3s ease-in-out;
cursor: pointer;
&:hover{
    transform: scale(1.1);
}

          .social-img {
            
            width: 28px;
          }
        }
      }
    }

    .footer-text {
        font-size: map-get($font-size, sm );
      color: rgba(0, 0, 0, 0.628);
    }
  }
}
