@import "../../sass/variables.scss";

.price-tag-container {

  span {
    display: flex;
    width: 46px;
    height: 46px;
    font-family: map-get($font-family, body );
    font-weight: 300;
    color: rgb(89, 1, 1);
    border-radius: 100px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.66);
    justify-content: center;
    align-items: center;
    font-size: map-get($font-size, sm);
    position: absolute;
    right: 0;
    background-color: map-get($colors, price-tag );
    transform: translate(12%, -5%);
  }
}
