@import "../../sass/variables.scss";

#products {
  background-color: map-get($colors, bg1-section);

  .bakery-item-section {
    margin-bottom: 80px;
  }

  .cards-container {
    display: flex;
    gap: 58px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #products {
    .bakery-item-section {
      .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 38px;
      }
    }
  }
}

@media (min-width: 670px) and (max-width: 767px) {
  #products {
    .bakery-item-section {
      .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 28px;
      }
    }
  }
}

@media (min-width: 560px) and (max-width: 669px) {
  #products {
    .bakery-item-section {
      .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 28px;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 559px) {
  #products {
    .bakery-item-section {
      .cards-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 58px;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 480px) {
  #products {
    .bakery-item-section {
      .cards-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 58px;
      }
    }
  }
}
