@import "./sass/variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: map-get($font-family, body);
  font-size: map-get($font-size, lg);
}

#products-section, #about-section{
  padding: 98px 100px 90px 100px;
}

a, ul {
  list-style-type: none;
  text-decoration: none;
  
}

.title-section {
  font-size: map-get($font-size, xl);
  color: rgba(0, 0, 0, 0.841);
  font-family: map-get($font-family, h1);
  font-weight: 400;
  padding-bottom: 38px;
}


@media screen and (max-width: 960){
  body{
    font-size: map-get($font-size, md);
  }
}