@import "./sass/variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: map-get($font-family, body);
  font-size: map-get($font-size, md);
}

a,
ul {
  list-style-type: none;
  text-decoration: none;
}

#products,
#about,
#carousel-section,
#contact {
  padding: 138px 90px 168px 90px;
}

.title-section {
  font-size: map-get($font-size, xl);
  color: rgba(0, 0, 0, 0.841);
  font-family: map-get($font-family, h1);
  font-weight: 400;
  padding-bottom: 22px;
}

@media screen and (max-width: 960) {
  body {
    font-size: map-get($font-size, md);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #products,
  #about,
  #carousel-section,
  #contact {
    padding: 138px 52px 168px 52px;
  }
}

@media (max-width: 767px) {
  #products,
  #about,
  #carousel-section,
  #contact {
    padding: 128px 52px 128px 52px;
  }
}

@media (min-width: 2560px) {
  #products,
  #about,
  #carousel-section,
  #contact {
    padding: 288px 242px 308px 242px;
  }
}
